/* You can add global styles to this file, and also import other style paths */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


body {
  margin: 0;
  padding: 0;
}


#title {
  position:absolute;
  top:0;
  left:0;
  color:#fff;
  padding:20px;
}
#button {
position:absolute;
top:0;
right:0;
color:#fff;
padding:20px;
}
//.plyr--hide-controls #title {
//    opacity: 0;
//    pointer-events: none;
//}
//.plyr--hide-controls #button {
//    opacity: 0;
//    pointer-events: none;
//}

#video {
  .plyr_controls__top {
      top: 0;
      bottom: auto;
      background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,0));
  }

  .plyr--video.plyr--hide-controls .plyr_controls__top {
      transform: translateY(-100%);
  }

  i.material-icons {
    font-size: 20px;
    width: 18px;
    height: 18px;
    display: block;
  }
}

.dialog-no-padding .mat-dialog-container {
  padding: 0;
}


div[plyr] {
  // width: 100vw !important;
  // height: 100vh !important;
  height: 100% !important;
}


#video-container {
  width: 100vw;
  height: 100vh;

  #video {
    width: 100% !important;
  }

  .plyr {
    height: 100vh;
  }

  .plyr__video-wrapper--fixed-ratio {
    padding-bottom: 0;
    height: 100%;
  }

  video {
    // width: 1619px !important;
  }
}
