/* You can add global styles to this file, and also import other style paths */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


body {
}


#title {
  position:absolute;
  top:0;
  left:0;
  color:#fff;
  padding:20px;
}
#button {
position:absolute;
top:0;
right:0;
color:#fff;
padding:20px;
}
.plyr--hide-controls #title {
    opacity: 0;
    pointer-events: none;
}
.plyr--hide-controls #button {
    opacity: 0;
    pointer-events: none;
}
